#div2 {
    width:76%;
}

#div3 {
    width:80%;
}
/* profile photo*/
#img1 {
  width: 160px;
  height: 160px;
}

/* mailto emoji*/
#img2 {
  width: 2.5%;
}

/* paper emoji*/
#img3 {
  width: 3%;
}



/* logos */
#img4 {
    max-width:100px;
    max-height:100px;
    width:auto;
    height:auto;
    vertical-align: middle;
}

/* overview*/
#img5 {
  width: 60%;
}

/* resource emoji*/
#img6 {
  width: 2%;
}

.caption {
    width: 200px;
    text-align: center;
}

figcaption {
    margin: 10px 0;  /* ADD Me */
    text-align: center;   /* ADD Me */
}

/* Whole document: */
body{
  font-size: 14pt;
  margin: 200pt; /* Added margin between navbar and body */
}

/* Adjust font size for years */
.bigger{
  font-size:20pt;
  font-weight:bold;
}

/* Adjust font size */
.huge{
  font-size:24pt;
  font-weight:bold;
}

/* project title fontsize */
.prtitle{
  font-size:16pt;
  font-weight:bold;
}

/* project body fontsize */
.prbody{
  font-size:12pt;
}

/* highlight */
.paperhl{
  color:#FE4365;
}



/* bold font */
.boldfont{
  font-weight:bold;
}

/* underline */
.fancy-underline {
  text-decoration: none;
  border-bottom: 3px solid rgba(69, 173, 168, 0.5);

}

.nav {
    margin: 0 auto;
    padding: 0;
    width: 75%;
}

.nav li a {
    display: inline-block;
    padding: 50px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.navbar-brand {
  margin-top: 45px;
  padding: 0 15px;
  height: 100px;
  line-height: 100px;
  font-size: 55px;
  font-weight: bold;
}

ul.nav.navbar-nav {
    flex: 1;
    width:500px; /* navbar left box width*/
}

.navbar.navbar-default {
    background-color: #99ccff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav a{
  margin-top: 45px;
}
.dropdown-menu a{
  margin-top: 45px;
}



/* hyperlink color */
a {
color: #45ADA8;
}

a:hover {
  color: #547980;
  background-color: transparent;
  text-decoration: none;
}

/* hyperlink color */
#a2 {
color: #FE4365;
}


/* change navigation (about, publication,...) color
.navbar-nav a{
  color: dodgerblue !important;
.dropdown-menu a{
  color: grey !important;
}
}*/